/*
Theme Name: Sunrise
Part of the Pastorale line of themes by Steve Wright, http://theme.etmeli.us/

Originally based on Chrisada Sookdhis' port of the Persian theme to Drupal
http://ichris.ws/

*/

a 		{ color: #069; text-decoration: none;} 
		a:link		{ color: #ff6f0f; text-decoration: none;} 
		a:visited	{ color: #ff9b59; text-decoration: none;} 
		a:active	{ color: #f40; text-decoration: none;} 
		a:hover		{ color: #b000aa; text-decoration: underline;}
		a[rel~="met"]:after 
{
	content:   " *";
}

blockquote
{
	margin: 0px 0px 0px 25px;
	padding: 0px;
	border: 1px;
	font-style: italic;
}

.main-content
{
	background-color: #4D181C;
	top: 0px;
	width: 520px;
	padding: 0px 10px 0px 15px;
	margin: 0px 0px 0px 30px;
	color: #eee;
}

body {
	margin: 0px;
	padding: 0px;
	text-align:left;
	background: #000;
	font-family: Verdana, Helvetica, Sanserif;
}
.bottomsep
{
	border-color: #777;
	border-width: 0px 0px 1px 0px;
	border-style: solid none solid none;
	padding: 4px 0px 4px 0px;
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 11px;
	background-color: #4d181c;
	color: #eee;
	text-align: left;
}

.bottomsep ul
{
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bottomsep li
{
	display: inline;
}

.center
{
	text-align: center;
  font-family : Verdana, helvetica, Sanserif;
	text-align : center;
	margin: 5px 0px 0px 0px;
	font-size : 12px; 
clear: left;
}

.inline li
{
	display: inline;
	padding: 10px;
	list-style: none;
}
	
.container
{
	background: #4D181C url(patt_back.png);
	height: 100%;
	width: 640px;
	margin: auto;
	padding: 9px 9px 9px 9px;
}		

.date
{
	font-family: Verdana, helvetica, sanserif;
	font-size: 12px;
	color: #ddd;
	text-align: right;
}
.footer
{
	width: 605px;
	height: 20px;
	background-color: #000;
        color: #eee;
	padding: 10px 5px 5px 15px;
	margin: 0px 10px 0px 10px;
	border-top: solid 1px #777;
	border-left: solid 1px #777;
	border-right: solid 1px #777;
	border-bottom: solid 1px #777;
	font-family : Verdana, Helvetica, sanserif;
	text-align : center;
	font-size : 10px;
}

.header
{
	background: #000 url(top.png) no-repeat center;
	width: 615px;
	height: 94px;
	padding: 5px;
	margin: 0px 0px 0px 10px;
	border: 1px;
	border-style: solid;
	border-color: #777;
}

img
{
	border: 0px;
	margin: 0px 0px 5px 0px;
}

.indent
{
	padding: 0px 0px 10px 20px;
}

.main
{
	background-color: #4D181C;
	left: 10px;
	top: 169px;
	width: 593px;
	padding: 2px 20px 5px 0px;
	margin: 0px;
	font-family : Verdana, Helvetica, Sanserif;
	text-align : left;
	font-size : 12px;
	border-width: 1px 1px 1px 1px;
	border-color: #777;
	border-style: solid;
}

.pic
{
	background-color: #4D181C;
	padding: 5px;
	margin-left: 8px;
	border: 1px;
	border-style: solid;
	border-color: #777;
}

.float
{
        padding: 5px;
}

.separator
{
	background: url(separator.png) no-repeat center;
	margin-top: 20px;
        padding: 5px;
        margin-bottom: 30px;
}

.sitename
{
	text-align: left;
	margin-top: 39px;
	margin-left: 10px;
	font-family: Verdana, Sanserif;
        line-height: 23px;
	font-size: 25px;
	color: #eee;
}
/* item-list is the class for the headers in the blocks */
.item-list {
      color: #eee;
}

.title
{
	font-family: Verdana, Arial, Helvetica, sanserif;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.1;
	color: #c400e7;
	text-align: left;
	text-shadow: #666 3px 3px 3px;
	padding: 0px 0px 8px 0px;
	margin: -6px 0px -10px 0px;
}
/* I added .title a so that the titles could be links without changing their colors. */
.title a
{
	font-family: Verdana, Arial, Helvetica, sanserif;
	font-weight: normal;
	font-size: 22px;
	line-height: 1.1;
	color: #c400e7;
	text-align: left;
	text-shadow: #666 3px 3px 3px;
	padding: 0px 0px 8px 0px;
	margin: -6px 0px -10px 0px;
}.updated
{
	padding: 5px;
	margin: 5px 10px;
	background-color: #ffcccc;
	border: 1px;
	border-color: #777;
	border-style: solid;
	color: #eee;
}

.wrapper 
{
		position: relative;
		background-color: #111;
		width: 615px;
		top: 0px;
		left: 0px;
		padding: 5px;
		margin: 5px 10px 10px 10px;
		border: 1px;
		border-style: solid;
		border-color: #777;
}

/* Drupal specific */

.messages {
	margin: 3em 0;
}
#mission {
	margin: 3em 0;
        background-color: #333;
        padding: 3px 10px 5px 10px;
}

#topbar
{
	height: 15px;
	margin: 0;
	padding: 3px 0 3px 20px;
	font-family : Verdana, Helvetica, Sanserif;
	text-align : right;
        color: #eee;
	font-size : 12px;
}

#topbar li.block {
	position: relative;
	list-style: none;
	float: left;
	margin: 0;
	padding: 0 1em 0 0;
	z-index: 20;
}
#topbar li.block div.content {
	display: none;
	position: absolute;
	text-align: left;
	left: 0;
	top: 1em;
	background-color: #4D181C;
	border: solid 1px #777;
	width: 150px;
}
#topbar > li.block div.content {
	left: auto;
	top: auto;
}
#topbar li.block:hover div.content {
	display: block;
}
#topbar li.over div.content {
	display: block;
}
#search {
	list-style: none;
}

#search .form-text {
	width: 100px;
	padding: 0px;
	margin: 0;
	color: #999;
	border: 1px solid #777;
	padding-left: 2px;
	font-size: 0.8em;
}

#rightbar {
	display: block;
	position: relative;
	width: 140px;
	margin-right: -5px;
	padding: 5px;
	float: right;
	background-color: #4D181C;
	border: solid 1px #777;
}
#rightbar li.block {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment {
	margin: 2em 0;
}
.comment .links {
	font-size: 0.8em;
}
textarea {
	width: 100%;
}
.form-item input.form-text,
.form-item textarea.textarea {
	width: 100%;
	padding: 0;
}
.form-item select {
	width: auto;
}
.box {
	margin: 2em 0;
}
.box .form-item select {
	font-size: 0.8em;
}
.user-login-block .form-item input {
	width: auto;
}
.dark td {
      color: #222;
}

/* the .image class is used for showing the full size images in the gallery */
.image {
text-align: center;
margin: 5px 0px 5px 0px;
display: block;
}

/* the #image id is used as a wrapper around the gallery thumbnail pages */
#image img {
margin: 0px 5px 0px 0px;
}

/* the .thumb class is used for thumbnails in the teasers on the front page */
.thumb {
  float: left;
  margin: 5px 5px 5px 0px;
}
/* the .floatleft class is for use when putting thumbnails into a story and you
want the picture on the left with the text wrapping around it on the right.  apply
this class to the <div> tag that img_assist gives you. */
.floatleft {
  float: left;
  margin: 2px 5px 5px 0px;
}
/* the .floatright class is for use when putting thumbnails into a story and you
want the picture on the right with the text wrapping around it on the left.  apply
this class to the <div> tag that img_assist gives you. */
.floatright {
  float: right;
  margin: 5px 0px 5px 5px;
}

/* the .google class controls the location and margin around the google ads at the bottom of the page */
.google {
text-align:center;
margin:10px;
}
li {
      color: #eee;
}
li a.active {
  color: #eee;
}

/* Tab navigation - this block copied from drupal.css and changed so it 
could be overridden.  */
ul.primary li a {
  background-color: #555;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em;
  padding: 0em 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #000;
  border: 1px solid #bbb;
  border-bottom: #bbb 1px solid;
}
ul.primary li a:hover {
  background-color: #222;
  border-color: #ccc;
  border-bottom-color: #bbb;
}
/* watchdog background */
tr.watchdog-user {
  background: #778;
}
tr.watchdog-user .active {
  background: #889;
}
tr.watchdog-special {
  background: #778;
}
tr.watchdog-special .active {
  background: #889;
}
tr.watchdog-warning {
  background: #778;
}
tr.watchdog-warning .active {
  background: #889;
}
tr.watchdog-httpd {
  background: #778;
}
tr.watchdog-httpd .active {
  background: #889;
}
tr.watchdog-error {
  background: #778;
}
tr.watchdog-error .active {
  background: #889;
}
/* I have these here to make it use the white graphics in the theme directory */
li.expanded {
  list-style-image: url(menu-expanded.gif);
}
li.collapsed {
  list-style-image: url(menu-collapsed.gif);
}
li.leaf {
  list-style-image: url(menu-leaf.gif);
}
